{{#contentFor 'pageScripts'}}
<script>
  $(document).ready(function () {

    $('.select-group-queues').change(function () {
      const group = $(this).data('group');
      const checked = this.checked;
      $(`#${group}-queues-table .select-queue`).each(function (_, element) {
        $(element).prop('checked', checked);
      });
    });

  });
</script>
{{/contentFor}}

<div class="table-responsive">
  <table class="table table-hover text-gray-800" class="group-queue-table" id="{{group}}-queues-table">
    <thead>
      <tr>
        <th><input class="select-group-queues" role="button" data-group="{{ group }}" type="checkbox"></th>
        <th>Queue</th>
        <th>Status</th>
        <th>Paused</th>
        <th>Waiting</th>
        <th>Active</th>
        <th>Delayed</th>
        <th>Failed</th>
      </tr>
    </thead>
    <tbody>
      {{#each queues}}
      <tr class="queue-{{ ../group }}-{{ this.hostId }}-{{ this.name }}">
        <td><input role="button" class="select-queue" type="checkbox" data-name="{{ this.name }}"
            data-hostid="{{ this.hostId }}"=></td>
        <td class="text-nowrap font-weight-bold" style="width: 300px;">
          <a href="/queues/{{../group}}/{{this.hostId}}/{{this.name}}">{{ this.hostId }}/{{ this.name }}</a>
        </td>
        <td class="status text-nowrap">
          {{#if this.isPaused}}
          <i class="fas fa-sm fa-pause-circle text-warning mr-1 status-icon"></i>
          <span class="status-name">Paused</span>
          {{else}}
          <i class="fas fa-sm fa-check-circle text-success mr-1 status-icon"></i>
          <span class="status-name">Running</span>
          {{/if}}
        </td>
        <td class="paused-count font-weight-bold">{{ this.jobCounts.paused }}</td>
        <td class="waiting-count font-weight-bold">{{ this.jobCounts.waiting }}</td>
        <td class="active-count font-weight-bold">{{ this.jobCounts.active }}</td>
        <td class="delayed-count font-weight-bold">{{ this.jobCounts.delayed }}</td>
        <td class="failed-count font-weight-bold">{{ this.jobCounts.failed }}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>