<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Groups</h1>
</div>

<!-- Groups -->
<div class="row">
  
  {{#each groupedQueues}}
  <div class="col-sm-3 mb-3 d-flex align-items-stretch">
    <div class="card shadow w-100 text-gray-800">
      <div class="card-body">
        <a href="/groups/{{ this.group }}">
          <h4>{{ this.group }}</h4>
        </a>
        <span>{{ this.queuesCounts }} queue(s)</span>
        <hr />
        <div>
          {{#each this.queues}}
          <div class="d-flex justify-content-between mb-1">
            <a href="/queues/{{this.group}}/{{this.hostId}}/{{this.name}}" class="text-gray-800">{{ this.name }}</a>
            {{#if this.isPaused}}
            <i class="fas fa-pause-circle text-warning"></i>
            {{else}}
            <i class="fas fa-check-circle text-success"></i>
            {{/if}}
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
  {{/each}}


</div>